.placetostay .card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

/*PLACE TO STAY*/
.placetostay {
    width: 1200px;
    padding: 2% 5%;
    font-family: "Red Rose";
}

.placetostay h1 {
    text-align: center;
    height: 60px;
    font-size: 55px;
    font-weight: 900;
    font-weight: bold;
    align-items: center;
}

.placetostay .card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

.card-preview {
    padding: 16px;
    margin: 10px;
    border: 1px solid #D7D7D7;
    border-radius: 15px;
}

.card-preview img :nth-child(1) {
    height: 265px;
    width: 260px;
}

.card-preview .placecol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-preview .placecol .info-2 {
    font-size: 14px;
    text-align: right;
    margin-top: 20px;
}

.card-preview .placecol .info-4 {
    font-size: 12.5px;
    text-align: right;
}

.card-preview .placecol .info-3 {
    font-size: 12.5px;
    text-align: left;
}

.placenav {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 10px;
}

.placelinks {
    font-weight: 600;
    color: #434343;
    padding-top: 10px;

}
.placenavimg{
    height: 40px;
    width: 150px;
    left: 1116px;
    top: 160px;
    border-radius: 8px;

}

@media screen and (max-width : 900px) {
    .placetostay .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        margin: 0;
    }
}

@media screen and (max-width : 600px) {
    section {
        width: 500px;
    }

    .placetostay .card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        width: 320px;
        justify-content: space-around;
        margin: 0;
    }

    .placetostay h1 {
        text-align: center;
        height: 40px;
        font-size: 25px;
        font-weight: 700;
        font-weight: bold;
        align-items: left;
        width: 350px;
    }
}